TURNTABLE_NAME=Turntable
PI_HOST=raspberrypi.local
PI_USER=pi
PI_AUDIO_DEVICE=plughw:CARD=Device,DEV=0
AUDIO_RATE=48000
AUDIO_CHANNELS=2
MA_URL=http://homeassistant:8123
MA_TOKEN=
MA_ENTITY=media_player.turntable
AUDD_TOKEN=
AUTO_RECOGNIZE=true
RECOGNITION_INTERVAL=30
CAPTURE_CHUNK_MS=100
CAPTURE_BUFFER_MS=400
ARECORD_BUFFER_US=500000
ARECORD_PERIOD_US=100000
SENDSPIN_PAIRING_CODE=
