TURNTABLE_NAME=Turntable
PI_HOST=raspberrypi.local
PI_USER=pi
PI_AUDIO_DEVICE=plughw:CARD=Device,DEV=0
AUDIO_RATE=48000
AUDIO_CHANNELS=2
MA_URL=http://homeassistant:8123
MA_TOKEN=
MA_ENTITY=media_player.turntable
AUDD_TOKEN=
AUTO_RECOGNIZE=true
RECOGNITION_INTERVAL=30
SENDSPIN_PAIRING_CODE=
